// fonts
$font-family-h1: var(--font-family-h1), sans-serif;
$font-family-h2: var(--font-family-h2), sans-serif;
$font-family-h3: var(--font-family-h3), sans-serif;
$font-family-h4: var(--font-family-h4), sans-serif;
$font-family-h5: var(--font-family-h5), sans-serif;
$font-family-h6: var(--font-family-h6), sans-serif;

$font-family-body-lg: var(--font-family-body-lg), sans-serif;
$font-family-body-md: var(--font-family-body-md), sans-serif;
$font-family-body-sm: var(--font-family-body-sm), sans-serif;

// Control sizes

$icon-size-sm: 16px;
$icon-size-md: 24px;
$icon-size-lg: 32px;

// Colors

$text-primary-color: #ffffff;
$text-secondary-color: #ffffff;
